
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
      <div *ngFor = "let quote of quotes; let i = index">
        <div class="card">
          <div class="container">
            <h6>{{quote.quoteValue}}</h6>
            <div *ngIf = 'quote.showQuoteDetails'>
              <app-quote-detail [quote]='quote' (upVoting)='addUpVote($event, i)' (downVoting)='addDownVote($event, i)'></app-quote-detail>
            </div>
          </div>
        </div>
        <div class="button">
          <button (click)='toggler(i)' type="button" class="btn btn-primary" name="button">Toggle Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
