nav {
  background-color: black;
}
.button{
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}
h6 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.body{
  padding-top: 20px;
}
.form1{
  padding-bottom: 20px;
}
