<div class="card card-form">
  <div style="text-align:center; padding-bottom: 20px; position:relative; top:10px; ">
    <img src="assets/img/quote2.png" style="height:150px; width:200px; " alt="">
  </div>
  <form (ngSubmit)= 'submitQuote()' #quoteForm = 'ngForm' class="form container" action="index.html" method="post">
    <div class="form-group">
      <label for="quote">Enter the quote: </label><br>
      <input type="text" placeholder="Enter quote" class="form-control" [(ngModel)]='newQuote.quoteValue' name="quote" #quote ="ngModel" value="" required >
      <div [hidden]="quote.valid || quote.pristine" class="alert alert-danger">
        <p>Quote is required</p>
      </div>
    </div>
  <div class="form-group">
    <label for="author">Author Name: </label><br>
    <input type="text" class="form-control" [(ngModel)]='newQuote.authorName' name="author" #author='ngModel' value="" placeholder="Author Name" required>
    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
      <p>Author name is required</p>
    </div>
  </div>
  <div class="form-group">
    <label for="user">Your Name: </label><br>
    <input type="text" [(ngModel)]='newQuote.userName' name="user" #user ='ngModel' class="form-control" value="" required placeholder="Enter your name">
    <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
      <p>User is required</p>
    </div>
  </div>
  <div class="button">
    <button type="submit" class="btn btn-success" name="button">Add Quote</button>
  </div>
  </form>
</div>
